<section class="section-auth-page">
    <h1>
        {{title}}
    </h1>
    <h2>
        {{subtitle}}
    </h2>
    <div class="form-container">
        <div id="label-workspace" class="alert alert-danger">{{workSpace}}</div>
        <form 
            class="form-group" 
            (ngSubmit)="onSubmit()">
            
            <div class="firstname-lastname">
                
                <div class="form-input-group">
                    <label for="username">{{firstnameLabel}}</label>
                    <input 
                        type="text" 
                        id="username" 
                        placeholder={{firstnamePlaceHolder}} 
                        required
                        [formControl]="loginForm.controls.firstname"
                        name = "username"
                    >
                </div>
                
                <div class="form-input-group">
                    <label for="lastname">{{lastnameLabel}}</label>
                    <input 
                        onkeyup="this.value = this.value.toUpperCase();"
                        type="text" 
                        id="lastname" 
                        placeholder={{lastnamePlaceHolder}}  
                        required
                        [formControl]="loginForm.controls.lastname"
                        name = "lastname"
                    >
                </div>
            </div>
            
            <label for="password">{{passwordLabel}}</label>
            <div class="form-input-group" id="password-input-group">
                <div class="lock-icon">
                    <span class="input-group-text"><em class="fas fa-lock"></em></span>
                </div>
                <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    placeholder={{passwordPlaceHolder}} 
                    aria-describedby="inputGroupPrepend3" 
                    required
                    [formControl]="loginForm.controls.password"
                    name = "password"
                >
            </div>
            <div id="connexion-button">
                <button 
                    [disabled]="!loginForm.valid" 
                    id="connexionButton" 
                    type="submit" 
                    class="btn btn-primary">
                    {{connexionText}}
                </button>
            </div>
        </form>
        <div *ngIf="invalidAuth" class="alert-danger alert-dismissible fade show" role="alert">
            Identifiants ou mot de passe incorrects !
            <button (click)="invalidAuth=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    </div>
</section>