<section id="adminInternPanelTitle" class="section-adminInternpanel">
    <h2 >
        Rechercher un stagiaire
    </h2>

    <form id="adminInternPanelSearchbar">
        <input 
            id="adminInternPanelSearchInput" 
            class="form-control" 
            type="search" 
            placeholder="Rechercher un stagiaire par nom et prénom" 
            aria-label="Rechercher un stagiaire par nom et prénom"
            title="Rechercher un stagiaire par nom et prénom"
            [formControl]="searchtitle"
            >
    </form>

    <div id="adminInternPanelFilterAndSort">
    
        <select 
            [formControl]="sortby"
            id="adminInternPanelSort" 
            class="form-select" 
            aria-label="Trier par"
            title="Trier par"
            >
            <option value="" selected>Trier par</option>
            <option value="increasingName">Prénom (croissant)</option>
            <option value="decreasingName">Prénom (décroissant)</option>
            <option value="increasingFamilyName">Nom (croissant)</option>
            <option value="decreasingFamilyName">Nom (décroissant)</option>
            <option value="increasingCompany">Entreprise (croissant)</option>
            <option value="decreasingCompany">Entreprise (décroissant)</option>
        </select>
    </div>
<div id="adminInternPanelCardPane">
    <div id="adminInternCardsContainer">
        <div (click)="onInternCreation(createOrAddInternPopup)" class="card adminInternCard" title="Créer un stagiaire" id="addInternCard" aria-label="Créer un stagiaire">
          <i class="fas fa-plus"></i>
        </div>
        <div 
          class="card adminInternCard" 
          *ngFor="let intern of internList | searchtitlepipe:searchtitle.value.toString() | filterbypipe:filterby | sortbypipe:sortby.value" 
          >
            <div class="card-header" id="adminInternCardTitle" >
                <div id="internPic" aria-label="Photo de profil">
                    {{(intern.name.match(regexName)[0][0])+(intern.name.match(regexFamilyname)[0][1])}}
                </div>
                <h5>{{intern.name}}</h5>
            </div>
            <div *ngIf="intern.societe.length > 40" class="card-header" aria-label="Icone entreprise">
                <i class="fas fa-building"></i>
                {{(intern.societe | slice:0:40)+"..."}}
            </div>
            <div *ngIf="intern.societe.length < 41" class="card-header" aria-label="Entreprise du stagiaire">
                <i class="fas fa-building"></i>
                {{intern.societe}}
            </div>
    
            <div id="adminInternCardFooter" class="card-footer">
              <button 
                class="adminInternCardButton" 
                id="adminInternRepass" 
                aria-label="Modifier"
                (click)="onInternModification(intern, createOrAddInternPopup)"
                >
                <i class="fas fa-edit"></i>
                Modifier 
                
              </button>
              <button 
                class="adminInternCardButton" 
                aria-label="Supprimer"
                id="adminInternPass" 
                (click)="openPopupDeleteIntern(deleteInternPopup, intern)"
                >
                <i class="fas fa-trash-alt"></i>
                Supprimer
              </button>
            </div>
          </div>
    </div>
</div>
</section>
<!-- CREATE or UPDATE Intern POPUP -->
<ng-template #createOrAddInternPopup>
  <header mat-dialog-title id="adminInternDelInternsHeader" >
    <div id="adminInternDelInternLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
    <h6 *ngIf="isInternNew==true" id="adminInternDelInternTitle">Ajouter un stagiaire</h6>
    <h6 *ngIf="isInternNew==false" id="adminInternDelInternTitle">Modifier un stagiaire</h6>
  </header>
  <div class="div-manage-intern-form" mat-dialog-content>
    <form [formGroup]="manageInternForm" class="manage-intern-form" (ngSubmit)="onSubmitInternForm()">
      <label for="family-name">
        <span class="span-manage-intern-form-field">
          <em class="form-field-icon fa fa-user"></em>
          <span class="span-field-label">Nom</span>
        </span>
        <input onkeyup="this.value = this.value.toUpperCase();" formControlName="familyName" type="text" name="family-name" id="family-name" aria-label="Saisissez un nom de famille" placeholder="Saisissez un nom de famille" title="Saisissez un nom de famille">
      </label>
      <label for="name">
        <span class="span-manage-intern-form-field">
          <em class="form-field-icon fa fa-user"></em>
          <span class="span-field-label">Prénom</span>
        </span>
        <input formControlName="name" type="text" name="name" id="name" aria-label="Saisissez un prénom" title="Saisissez un prénom" placeholder="Saisissez un prénom">
      </label>
      <label for="password">
        <span class="span-manage-intern-form-field">
          <em class="form-field-icon fa fa-lock"></em>
          <span class="span-field-label">Mot de passe</span>
        </span>
        <input formControlName="password" type="text" name="password" id="password" aria-label="Saisissez un mot de passe" title="Saisissez un mot de passe" placeholder="Saisissez un mot de passe">
      </label>
      <label for="societe">
        <span class="span-manage-intern-form-field">
          <em class="form-field-icon fas fa-building"></em>
          <span class="span-field-label">Entreprise</span>
        </span>
        <input formControlName="societe" type="text" name="societe" id="societe" aria-label="Saisissez un nom d'entreprise" title="Saisissez un nom d'entreprise" placeholder="Saisissez un nom d'entreprise">
      </label>
      <div *ngIf="invalidAdd" class="alert-danger alert-dismissible fade show" role="alert">
        Cet utilisateur existe déjà.
        <button (click)="invalidAdd=false" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <mat-dialog-actions>
        <button aria-label="Valider" title="Valider" class="btn btn-primary" type="submit">Valider</button>
      </mat-dialog-actions>
    </form>
  </div>
</ng-template>
<!-- DELETE Intern POPUP -->
<ng-template #deleteInternPopup>
    <header mat-dialog-title id="adminInternDelInternsHeader" >
      
      <div id="adminInternDelInternLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
      <h6 id="adminInternDelInternTitle">
        Supprimer le stagiaire ? 
      </h6>
    </header>
    <div mat-dialog-content id="adminInternDelInternContent">
      <i class="fas fa-exclamation-triangle"></i>
      <span>Voulez-vous supprimer le stagiaire : <strong>{{selectedCardForDelete.name}}</strong> ?</span> 
    </div>
    <mat-dialog-actions id="adminInternDelInternFooter" >
      <button 
        id="adminInternDelReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        (click)="onDeleteIntern(selectedCardForDelete)"
        id="adminInternDelYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>