<section class="section-internqcmpanel">

    <h2 id="internQcmPanelTitle">
        Rechercher un questionnaire
    </h2>

    <form id="internQcmPanelSearchbar">
        <input 
            id="internQcmPanelSearchInput" 
            class="form-control" 
            type="search" 
            placeholder="Search" 
            aria-label="Search"
            [formControl]="searchtitle"
            >
        <button 
            id="internQcmPanelSearchButton"
            class="btn btn-outline-primary" 
            type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>

    <div id="internQcmPanelFilterAndSort">

        <div id="internQcmPanelFilter" class="btn-group" role="group" aria-label="Filters">
            <button
                [ngClass]="filterbyButtonStatus.all ? 'btn-primary' : 'btn-secondary'"
                (click)="onFilterby('all')"
                type="button" 
                class="btn btn-primary">
                Tout
            </button>
            <button 
                [ngClass]="filterbyButtonStatus.done ? 'btn-primary' : 'btn-secondary'"
                (click)="onFilterby('done')"
                type="button" 
                class="btn">
                Fait
            </button>
            <button 
                [ngClass]="filterbyButtonStatus.todo ? 'btn-primary' : 'btn-secondary'"
                (click)="onFilterby('todo')"
                type="button" 
                class="btn">
                À faire
            </button>
        </div>
    
        <select 
            [formControl]="sortby"
            id="internQcmPanelSort" 
            class="form-select" 
            aria-label="Default select example"
            >
            <option value="" selected>Trier par</option>
            <option value="increasingMark">Note croissante</option>
            <option value="decreasingMark">Note décroissante</option>
            <option value="increasingLastExecutionDate">Date de dernière réalisation (croissant)</option>
            <option value="decreasingLastExecutionDate">Date de dernière réalisation (décroissant)</option>
            <option value="increasingDuration">Durée croissante</option>
            <option value="decreasingDuration">Durée décroissante</option>
        </select>
    </div>


    <div id="internQcmPanelCardPane">
        <app-qcmcard
        [searchtitle]="searchtitle.value"
        [sortby]="sortby.value"
        [filterby]="filterby"
        ></app-qcmcard>
    </div>

</section>