<section class="section-internqcmpanel">

    <h2 id="internQcmPanelTitle">
        Rechercher un questionnaire
    </h2>

    <form id="internQcmPanelSearchbar">
        <input 
            id="internQcmPanelSearchInput" 
            class="form-control" 
            type="search" 
            placeholder="Search" 
            aria-label="Search">
        <button 
            id="internQcmPanelSearchButton"
            class="btn btn-outline-primary" 
            type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>

    <div id="internQcmPanelFilterAndSort">

        <div id="internQcmPanelFilter" class="btn-group" role="group" aria-label="Filters">
            <button type="button" class="btn btn-primary">Tout</button>
            <button type="button" class="btn btn-secondary">Fait</button>
            <button type="button" class="btn btn-secondary">À faire</button>
        </div>
    
        <select id="internQcmPanelSort" class="form-select" aria-label="Default select example">
            <option selected>Trier par</option>
            <option value="1">Note croissante</option>
            <option value="2">Note décroissante</option>
            <option value="3">Date de dernière réalisation</option>
            <option value="3">Durée croissante</option>
            <option value="3">Durée décroissante</option>
        </select>
    </div>


    <div id="internQcmPanelCardPane">

        

    </div>

</section>