<div 
    id="internQcmCardsContainer"
     
    >
    <div 
      class="card internQcmCard" 
      *ngFor="let card of cards | searchtitlepipe:searchtitle | filterbypipe:filterby | sortbypipe:sortby" 
      >
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p *ngIf="card.done" class="card-text">Note : {{card.mark}}/20</p>
          <p *ngIf="card.done" class="card-text">Fait le : {{card.date}}</p>
          <p *ngIf="card.done" class="card-text">Durée : {{card.duration}}</p>
        </div>
        <div class="card-body">
          <a *ngIf="card.done" (click)="openPopupSeeAllResults()" class="card-link">Voir mes résultats</a>
          <a *ngIf="card.done" href="#" class="card-link">Repasser le questionnaire</a>
          <a *ngIf="!card.done" href="#" class="card-link">Faire le questionnaire</a>
        </div>
      </div>
</div>
<ng-template #seeAllResults>
  Hello World
</ng-template>
