<div 
    id="internQcmCardsContainer"
     
    >
    <div 
      class="card internQcmCard" 
      *ngFor="let card of cards | searchtitlepipe:searchtitle | filterbypipe:filterby | sortbypipe:sortby" 
      >
        <h5 class="card-header" id="internQcmCardTitle" >{{card.title}}</h5>
        <h6 
          class="card-header" 
          id="internQcmCardLastTitle" 
          *ngIf="card.done">
          <i class="far fa-calendar-alt"></i>
          Dernier passage le {{card.results.at(-1).date}}
        </h6>
        <h6 
          class="card-header"
          id="internQcmCardTodoTitle" 
          *ngIf="!card.done">
          <i class="fas fa-tasks"></i>
          À faire
        </h6>


        <div class="card-body">
          

          <p 
            title="Ma dernière note à ce questionnaire"
            *ngIf="card.done" 
            class="card-text">
            <i id="internQcmCardMarkIcon" class="fas fa-graduation-cap"></i>
            {{card.results.at(-1).mark}}/20
          </p>
          <p 
            title="Le temps que m'a pris le questionnaire"
            *ngIf="card.done" 
            class="card-text">
            <i id="internQcmCardDurationIcon" class="fas fa-hourglass-half"></i>
            {{card.results.at(-1).duration | internqcmdurationpipe}}
          </p>

        </div>


        <div id="internQcmCardFooter" class="card-footer">
          <button 
            class="internQcmCardButton" 
            id="internQcmSeeResultsLink" 
            *ngIf="card.done" 
            (click)="openPopupSeeAllResults(seeAllResults, card)">
            Mes résultats
          </button>
          <button 
            class="internQcmCardButton" 
            id="internQcmRepass" 
            *ngIf="card.done" 
            (click)="openPopupDoQcm(doQcmPopup, card)">
            Repasser
          </button>
          <button 
            class="internQcmCardButton" 
            id="internQcmPass" 
            *ngIf="!card.done" 
            (click)="openPopupDoQcm(doQcmPopup, card)">
            Faire le questionnaire
          </button>
        </div>
      </div>
</div>
<!-- RESULTS POPUP -->
<ng-template #seeAllResults id="internQcmCardResultsPopup">
  
  <header mat-dialog-title id="internQcmCardResultsHeader" >
    
    <div id="internQcmCardResultsLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
    <h6 id="internQcmCardResultsTitle">
      {{selectedCardForResults.title}}
    </h6>
  </header>
  
  <div mat-dialog-content id="internQcmCardResultsTableDiv" >
    <table id="internQcmCardResultTableTable"  class="table table-hover">
      <thead id="internQcmCardResultsTableThead">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Temps passé</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody id="internQcmCardResultsTableBody">
        <tr *ngFor="let result of selectedCardForResults.results">
          <td>
            {{result.date}}
          </td>
          <td>
            {{result.duration | internqcmdurationpipe}}
          </td>
          <td>
            {{result.mark}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-dialog-actions id="internQcmCardResultsPopupFooter" >
      <button id="internQcmCardResultsPopupCloseButton" aria-label="fermer" mat-button [mat-dialog-close]>Fermer</button>
  </mat-dialog-actions>
</ng-template>
<!-- DO QCM POPUP -->
<ng-template #doQcmPopup>
  <header mat-dialog-title id="internQcmCardDoQcmsHeader" >
    
    <div id="internQcmCardDoQcmLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
    <h6 id="internQcmCardDoQcmTitle">
      Faire le questionnaire ? 
    </h6>
  </header>
  <div mat-dialog-content id="internQcmCardDoQcmContent">
    <i class="fas fa-exclamation-triangle"></i>
    <span>Voulez-vous passer le questionnaire : <strong>{{selectedCardForDo.title}}</strong> ?</span> 
  </div>
  <mat-dialog-actions id="internQcmCardDoQcmFooter" >
    <button 
      id="internQcmDoQcmReturnButton" 
      aria-label="fermer" 
      mat-button 
      [mat-dialog-close]>
      Retour
    </button>
    <button 
      id="internQcmDoQcmYesButton" 
      aria-label="fermer" 
      mat-button [mat-dialog-close]
      [routerLink]="['qcm', selectedCardForDo.id]"
      >
      Oui
    </button>
  </mat-dialog-actions>
</ng-template>