<p>Search by : {{filterby}}</p>
<div 
    id="internQcmCardsContainer"
     
    >
    <div 
      class="card internQcmCard" 
      *ngFor="let card of cards | searchtitlepipe:searchtitle | filterbypipe:filterby" 
      >
        <div class="card-body">
          <h5 class="card-title">{{card.title}}</h5>
          <p *ngIf="card.done" class="card-text">Note : {{card.mark}}</p>
          <p *ngIf="card.done" class="card-text">Fait le : {{card.date}}</p>
          <p *ngIf="card.done" class="card-text">Durée : {{card.duration}}</p>
        </div>
        <div class="card-body">
          <a *ngIf="card.done" href="#" class="card-link">Voir mes résultats</a>
          <a *ngIf="card.done" href="#" class="card-link">Repasser le questionnaire</a>
          <a *ngIf="!card.done" href="#" class="card-link">Faire le questionnaire</a>
        </div>
      </div>
</div>
