
// HOME PAGE
//-------------------

// Body format, center row vertically
.body-home-page {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Center column content
    .row {
        .home-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}



// Remove hero when phone screen
@media (max-width: 768px) {
    #home-content-left {
        display: none;
    }

    #home-content-right {
        h1,h2 {
            text-align: center;
        }
    }
}

// Input size uniformization
button {
    height: 40px;
    margin: .5rem 0 .5rem 0;
}

// Reduce form size on left and right
.choice-container {
    padding: 0 40px 0 40px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Center text and adapt workspace flag size
#label-workspace {
    text-align: center;
    padding: 0.5rem;
}
