
// AUTH PAGE
//-------------------

// Body format, center row vertically
.body-auth-page {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Center column content
    .row {
        .auth-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}



// Remove hero when phone screen
@media (max-width: 768px) {
    #auth-content-left {
        display: none;
    }

    #auth-content-right {
        h1,h2 {
            text-align: center;
        }
    }
}

// Input size uniformization
.form-control#username,
.form-control#password,
.input-group-text,
#connexionButton {
    height: 40px;
}

// Reduce form size on left and right
.form-container {
    padding: 0 40px 0 40px;
    margin-top: 4rem;
}

// Center text and adapt workspace flag size
#label-workspace {
    text-align: center;
    padding: 0.5rem;
}

form {
    // Space input fields
    input {
        margin-bottom: 1.3rem;
    }

    .form-input-group {
        input {
            margin-top: 10px;
            border-radius: 5px;
            height: 40px;
            border: solid $window-color 1px;
            padding: 5px;
        }
        input:focus{
            border: solid $general-purpose-black 2px;
            box-shadow: none;
        }
    }
    .firstname-lastname {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-around;
        .form-input-group {
            width: 45%;
            display: flex;
            flex-direction: column;
        }
        input {
            width: 100%;
        }
    }
    #password-input-group{
        display: flex;
        flex-direction: row;
        .lock-icon {
            width: 10%;
            margin-top: 10px;
            height: 40px;
        }
        input {
            width: 90%;
            height: 40px;
            margin-top: 10px;
            border: solid $window-color 1px;
            border-radius: 5px;
        }
    }
    
    // Format connexion button
    #connexion-button{
        text-align: center;
        button {
            width: 80%;
            margin-top: 10px;
        }
    }

    
}
.alert-dismissible {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    button.close {
        border: none;
        background: none;
        font-weight: 700;
        color: $general-purpose-black;
    }
}
