// INTERN PAGE
//-------------------

// ------------------
// GENERAL
//-------------------

// Body format, center row vertically
.body-intern-page {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Center column content
    .row {
        .intern-col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

// Remove hero when phone screen
@media (max-width: 768px) {
    #intern-content-right {
        display: none;
    }
}

// ------------------
// CONTENT LEFT
//-------------------

// add padding to title
.section-intern-page>h1,.section-intern-page>h2 {
    padding-left: 60px;
}

// Title padding on mobile
@media (max-width: 768px) {
    .section-intern-page>h1,.section-intern-page>h2 {
        padding-left: 0px;
    }
}

// Format choice box 
.seeqcm-choice-container {
    padding: 0 40px 0 60px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Choice box padding on mobile
@media (max-width: 768px) {
    .seeqcm-choice-container {
        padding: 0px;
    }
}

.seeqcm-choice-container > a {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Center text and adapt workspace flag size
#label-intern-workspace {
    text-align: center;
    padding: 0.5rem;
}

// Button size
#internSeeQcmsButton {
    width: 50%;
    margin: auto;
}

// Button size on mobile
@media (max-width: 768px) {
    #internSeeQcmsButton {
        width: 100%;
        margin: auto;
    }
}

// Turn arrow
#arrowBottomQcm {
    transition: all ease .5s;
}

#internSeeQcmsButton:hover  > #arrowBottomQcm{
    transform: rotate(90deg);
    transition: all ease .5s;
}