.section-adminInternpanel {
    margin-top: 50px;
    padding: 0 100px 0 100px;

    #adminInternPanelSearchbar {
        display: flex;
    }

    #adminInternPanelFilterAndSort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #adminInternPanelSort {
        min-width: 250px;
        width: 30%;
        margin: 0.5rem 0 0.5rem 0;
    }

    #adminInternPanelSearchButton {
        margin: 0;
    }

    #adminInternPanelFilterAndSort > #adminInternPanelFilter,
    #adminInternPanelFilterAndSort > #adminInternPanelSort,
    #adminInternPanelSearchbar > #adminInternPanelSearchInput,
    #adminInternPanelSearchbar > #adminInternPanelSearchButton 
    {
        max-height: 40px;
    }

    // ---------
    // CARDS
    // ---------

    #adminInternPanelCardPane {

        

        #adminInternCardsContainer {
            
            padding: 0 50px 0 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            margin-top: 50px;
            // Zoom on card on hover
            .adminInternCard:hover{
                transform: scale(102%);
            }
            #addInternCard{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $general-purpose-grey;
                cursor: pointer;
                .fa-plus {
                    font-size: 3rem;
                    color: $general-purpose-black;
                }
            }
            .adminInternCard {
                transition: all ease .3s;
                border-radius: 20px 20px 20px 20px;
                width: 350px;
                min-width: 350px;
                margin: 15px;
                height: 180px;
                #adminInternCardTitle{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    #internPic {
                        height: 50px;
                        width: 50px;
                        background-color: $white-letter-color;
                        color: $window-color;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                        font-size: 1.3rem;
                        margin-right: 30px;
                    }
                }
                // Add space on icon's right
                .fas, .far {margin-right: 15px;}

                h6#adminInternCardLastTitle {
                    margin: 0;
                    background-color: $validation-green;
                }
                h6#adminInternCardTodoTitle {
                    margin: 0;
                    background-color: $todo-red;
                }

                .card-body {
                    .card-text {
                        display: inline-block;
                        margin: 0 15px 0 15px;
                        
                        .fas {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            height: 40px;
                            width: 40px;
                            border: solid 1px $window-color;
                            color: $window-color;
                            border-radius: 50%;
                        }
                    }
                } 

                #adminInternSeeResultsLink{cursor: pointer;}
                #adminInternCardTitle {
                    border-radius: 20px 20px 0px 0px;
                    background-color: $window-color;
                    color: $white-letter-color;
                    font-weight: 400;
                    min-height: 65px;
                }
                #adminInternCardFooter{
                    
                    border-radius: 0px 0px 20px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $white-letter-color;
                    border: none;
                    color: $white-letter-color;
                    padding: 15px 15px 15px 15px;
                    
                    // Button styling
                    .adminInternCardButton {
                        margin: 0 15px 0 15px;
                        border-radius: 30px 30px 30px 30px;
                        transition: all ease .3s;
                        background-color: $window-color; 
                        color: $white-letter-color;
                        border: none;
                        width: 80%; 
                        height: 40px;
                    }
                    // Style repass button specifically
                    #adminInternRepass{
                        border: solid 1px $window-color;
                        background-color: $white-letter-color;
                        color: $general-purpose-black;
                    }
                    // Size My result and Repass buttons
                    #adminInternRepass, #adminInternSeeResultsLink{
                        width: 60%;
                    }

                    // Hover Intern card button action
                    .adminInternCardButton:hover, .adminInternCardButton:hover>p{
                        transition: all ease .3s;
                        border: solid 1px $window-color;
                        background-color: $white-letter-color;
                        color: $general-purpose-black;
                    }
    
                }
            }
        }

    }
}

// On mobile
@media (max-width: 768px) {
    .section-adminInternpanel {
            padding: 0px;
        #adminInternPanelFilterAndSort {
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
        }
         #adminInternPanelSort {
                width: 100%;
                margin: 0.5rem 0 0.5rem 0;
        }
        #adminInternPanelCardPane {
            padding: 0px;
            #adminInternCardsContainer {
                padding: 0px;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 50px;
                    
                .adminInternCard {
                    width: 100%;                  
                    margin: 15px 0 15px 0;
                }
            }
        }
    }
        
}

// Form in the popup used to manage an intern data
.manage-intern-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
        width: 80%;
    }
}
