/* ===================
NAVBAR STYLES
=====================*/
#quickcm-navbar {
    box-shadow: 0px 3px 5px $general-purpose-black;
    background-color: $window-color;
    min-height: 8vh;
    padding: 0 5vw 0 5vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    div.container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navbar-brand {
            color: $white-letter-color;
            font-weight: 600;
            transition: ease-in-out all .3s;
        }
        .navbar-brand:hover {
            transform: scale(115%);
        }
    }

}

