#internQcmCardResultsPopup{
    overflow: hidden !important;
}
    .mat-dialog-container {
        overflow: hidden !important;
        padding: 0 !important;

        .mat-dialog-title {
            background-color: $window-color;
            color: $white-letter-color;
            margin: 0;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            #internQcmCardResultsLogo{
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                h5 {margin-top: 3px;}
            }
            #internQcmCardResultsTitle {
                text-align: center;
                margin-top: 10px;
            }
            .fa-question {
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px !important;
                width: 30px !important;
                border: solid $white-letter-color 1px;
                border-radius: 50%;
                background-color: $window-color;
            }
            
            
 
        }
        
        .mat-dialog-content {
            padding: 0 24px 24px 24px !important; 
            margin: 0 10px 0 10px;
            #internQcmCardResultTableTable {
                margin-top: 0 !important;
                border-collapse: separate;
                border-spacing: 0;
            }
            #internQcmCardResultsTableThead {
                height: 50px;
                position: sticky;
                z-index: 10;
                background-color: $white-letter-color;
                top: 0;
                border-bottom: 5px solid $general-purpose-black;
            }
            #internQcmCardResultsTableBody {
                border-top: none;
            }
        }

        .mat-dialog-actions{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            #internQcmCardResultsPopupCloseButton{
                border: solid 1px $window-color;
                background-color: $white-letter-color;
                border-radius: 30px;
                width: 70%;
                transition: all ease .3s;
            }
            #internQcmCardResultsPopupCloseButton:hover{
                border: solid 1px $window-color;
                background-color: $window-color;
                color: $white-letter-color;
                border-radius: 30px;
                width: 70%;
            }
        }
    }