<form class="card" id="edit-qcm-container">
    <div class="card-header">
        <div [ngSwitch]="titleEditMode" class="card-title" id="spanQcmTitle">
            <h2 
                *ngSwitchDefault
                (dblclick)="editTitle()"
                >
                {{qcmEditData.name}}
            </h2>
            <em 
                *ngSwitchDefault 
                title="Modifier le titre" 
                aria-label="Modifier le titre" 
                class="fas fa-edit" 
                (click)="editTitle()">
            </em>
            <input 
                name="qcm-title"
                aria-label="Champ titre" 
                *ngSwitchCase="true" 
                type="text" 
                (keydown.enter)="validateTitle()"
                [(ngModel)]="qcmEditData.name">
            <button 
                *ngSwitchCase="true"
                class="btn btn-light" 
                (click)="validateTitle()">
                OK
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="description-container">
            <label for="qcm-description">Description</label> 
            <input 
                maxlength="50"
                aria-label="Description du QCM"
                title="Description du QCM"
                id="qcm-description" 
                type="text" 
                [(ngModel)]="qcmEditData.description"
                [ngModelOptions]="{standalone: true}"
                >
        </div>
        <div class="questions-container">
            <div 
                class="question"
                *ngFor="let question of qcmEditData.qcmQuestion"
                >
                <div class="question-container">
                    <div 
                        class="question-enonce-container"
                        >
                        <em title="Enoncé de la question" aria-label="Enoncé de la question" class="far fa-question-circle"></em>
                        <h3 
                            title="Enoncé"
                            aria-label="Enoncé"
                            maxlength="120"
                            class="question-enonce-h3"
                        >{{question.enonce}}
                        </h3>
                    </div>
                    <div class="responses-container card">
                        <div class="card-header">Réponses</div>
                        <div class="card-body list-group list-group-flush">
                            <div 
                            class="single-response-container list-group-item" 
                            [ngClass]="response.value === 1 ? 'right-answer' : 'wrong-answer'"
                            title="{{ response.value === 1 ? 'Réponse juste' : 'Réponse fausse'}}"
                            *ngFor="let response of question.responses | keyvalue">
                                <span
                                    
                                    class="reponse-class" 
                                    [ngClass]="response.value === 1 ? 'text-success' : 'text-danger'" 
                                >{{response.key}}</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <button 
                    title="Supprimer la question" 
                    aria-label="Supprimer la question" 
                    class="button-delete-question" 
                    (click)="openDeleteQuestionPopup(deleteQuestionPopup, question)">
                    <em class="fas fa-trash-alt"></em>
                    Supprimer la question
                </button>    
            </div>
            <div class="div-button-add-question">
                <button 
                    title="Ajouter une question" 
                    aria-label="Ajouter une question" 
                    class="button-add-question" 
                    (click)="addQuestion(selectQuestionPopup)">
                    <em class="fas fa-plus-circle" ></em>
                    Ajouter une question
                </button> 
            </div> 
        </div>
    </div>
    <div class="card-footer">
        <button (click)="submitQcm()" type="button" class="btn btn-primary" aria-label="Valider" title="Valider">Valider</button>
    </div>
</form>

<!-- DELETE QUESTION POPUP -->
<ng-template #deleteQuestionPopup>
    <header mat-dialog-title id="adminInternDelInternsHeader" >
      
      <div id="adminInternDelInternLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
      <h6 id="adminInternDelInternTitle">
        Supprimer la question ? 
      </h6>
    </header>
    <div mat-dialog-content id="adminInternDelInternContent">
      <em class="fas fa-exclamation-triangle"></em>
      <span>Voulez-vous supprimer la question : <strong>{{selectedCardForDelete.enonce}}</strong> ? La question ne sera pas supprimée de votre base de données.</span> 
    </div>
    <mat-dialog-actions id="adminInternDelInternFooter" >
      <button 
        id="adminInternDelReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="adminInternDelYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        (click)="deleteQuestion(selectedCardForDelete.id)"
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>

<!-- SELECT QUESTION POPUP -->
<ng-template #selectQuestionPopup>
    <header mat-dialog-title class="select-q-popup-header" id="adminInternDelInternsHeader" >
      
      <div id="adminInternDelInternLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
      <h6 id="adminInternDelInternTitle">
        Ajoutez des question ? 
      </h6>
    </header>
    <div mat-dialog-content id="adminInternDelInternContent" class="select-q-popup-q-mat-dialog-content">
      
        <div class="questions-container">
            
            <div 
                *ngFor="let question of questionList" 
                class="question-item card" 
                
                >
                <input 
                    [checked]="qcmQuestionsIds.includes(question.id)" 
                    id="select-question-checkbox-id-{{question.id}}" 
                    type="checkbox" class="select-question-checkbox" 
                    aria-label="Sélectionner une ou plusieurs questions" 
                    title="Sélectionner une ou plusieurs questions"
                    (click)="addQuestionToList(question.id)"
                    >
                    
                <label 
                    aria-label="Sélectionner une ou plusieurs questions" 
                    title="Sélectionner une ou plusieurs questions" 
                    class="label-select-question" 
                    for="select-question-checkbox-id-{{question.id}}">
                    
                    <h5 class="card-header">
                        {{question.enonce}}
                    </h5>
                    <div class="card-body responses-container">
                        <div *ngFor="let response of question.responses | keyvalue" class="response-item"> 
                            <input [checked]="response.value == 1" class="response-checkbox" type="checkbox" aria-label="Une case cochée correspond à une bonne réponse" disabled value="response.value">
                            <span class="response-text">{{response.key}}</span>
                        </div>
                    </div>
                </label> 
            </div>
        </div>

    </div>
    <mat-dialog-actions id="adminInternDelInternFooter" >
      <button 
        id="adminInternDelReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="adminInternDelYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        (click)="validateQuestionChoice()"
        >
        Valider
      </button>
    </mat-dialog-actions>
  </ng-template>