<form class="card" id="edit-qcm-container">
    <div class="card-header">
        <div [ngSwitch]="titleEditMode" class="card-title" id="spanQcmTitle">
            <h2 
                *ngSwitchDefault
                (dblclick)="editTitle()"
                >
                {{qcmEditData.name}}
            </h2>
            <em 
                *ngSwitchDefault 
                title="Modifier le titre" 
                aria-label="Modifier le titre" 
                class="fas fa-edit" 
                (click)="editTitle()">
            </em>
            <input 
                name="qcm-title"
                aria-label="Champ titre" 
                *ngSwitchCase="true" 
                type="text" 
                (keydown.enter)="validateTitle()"
                [(ngModel)]="qcmEditData.name">
            <button 
                *ngSwitchCase="true"
                class="btn btn-light" 
                (click)="validateTitle()">
                OK
            </button>
        </div>
    </div>
    <div class="card-body">

        <div class="questions-container">
            <div 
                class="question"
                *ngFor="let question of qcmEditData.qcmQuestion">
                <fieldset class="question-container">
                    <div 
                        class="question-enonce-container"
                        >
                        <em title="Enoncé de la question" aria-label="Enoncé de la question" class="far fa-question-circle"></em>
                        <input 
                            name="qcm-question-enonce-{{question.enonce}}"
                            title="Saisissez un énoncé"
                            aria-label="Saisissez un énoncé"
                            maxlength="120"
                            class="question-enonce-input"
                            type="text"
                            [(ngModel)]="question.enonce"
                        >
                    </div>
                    <fieldset class="responses-container">
                        <legend>Réponses</legend>
                        <div 
                        class="single-response-container"
                        *ngFor="let response of question.responses | keyvalue">
                            <input type="checkbox">
                            <input 
                                name="qcm-answer-{{response.key}}"
                                title="Saisissez une réponse possible"
                                placeholder="Saisissez une réponse possible"
                                aria-label="Saisissez une réponse possible"
                                maxlength="120"
                                class="reponse-input"
                                type="text"
                                [(ngModel)]="response.key"
                            >
                            <!--<input 
                                name="qcm-answer-value-{{response.value}}"
                                class="reponse-value-input"
                                type="number"
                                max="1"
                                min="0"
                                [(ngModel)]="response.value"
                            >-->
                            <em 
                                title="Supprimer la réponse '{{response.key}}'" 
                                attr.aria-label="Supprimer la réponse '{{response.key}}'" 
                                class="fas fa-trash-alt delete-response-button"
                                (click)="deleteResponse(question.id, response.key)"
                                >
                            </em>
                        </div>
                        <div class="div-button-add-response">
                            <button 
                                title="Ajouter une réponse" 
                                aria-label="Ajouter une réponse" 
                                class="button-add-response" 
                                (click)="addResponse(question.id)">
                                <em class="fas fa-plus-circle"></em>
                            </button> 
                        </div> 
                    </fieldset>
                </fieldset>
                <button title="Supprimer la question" aria-label="Supprimer la question" class="button-delete-question" (click)="openDeleteQuestionPopup(deleteQuestionPopup, question)">
                    <em class="fas fa-trash-alt"></em>
                    Supprimer la question
                </button>    
            </div>
            <div class="div-button-add-question">
                <button title="Ajouter une question" aria-label="Ajouter une question" class="button-add-question" (click)="addQuestion()">
                    <em class="fas fa-plus-circle" ></em>
                    Ajouter une question
                </button> 
            </div> 
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" aria-label="Valider" title="Valider">Valider</button>
    </div>
</form>

<!-- DELETE QUESTION POPUP -->
<ng-template #deleteQuestionPopup>
    <header mat-dialog-title id="adminInternDelInternsHeader" >
      
      <div id="adminInternDelInternLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
      <h6 id="adminInternDelInternTitle">
        Supprimer la question ? 
      </h6>
    </header>
    <div mat-dialog-content id="adminInternDelInternContent">
      <i class="fas fa-exclamation-triangle"></i>
      <span>Voulez-vous supprimer la question : <strong>{{selectedCardForDelete.enonce}}</strong> ?</span> 
    </div>
    <mat-dialog-actions id="adminInternDelInternFooter" >
      <button 
        id="adminInternDelReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="adminInternDelYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        (click)="deleteQuestion(selectedCardForDelete.id)"
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>
