<section id="adminInternPanelTitle" class="section-adminQuestionpanel">
    <h2 >
        Rechercher une question
    </h2>

    <form id="adminQuestionPanelSearchbar">
        <input 
            id="adminInternPanelSearchInput" 
            class="form-control" 
            type="search" 
            placeholder="Rechercher une question par énoncé" 
            aria-label="Rechercher une question par énoncé"
            title="Rechercher une question par énoncé"
            [formControl]="searchtitle"
            >
    </form>

    <div id="adminQuestionPanelFilterAndSort">
    
        <select 
            [formControl]="sortby" 
            id="adminQuestionPanelSort" 
            class="form-select" 
            aria-label="Trier par"
            title="Trier par"
            >
            <option value="" selected>Trier par</option>
            <option value="increasingName">Prénom (croissant)</option>
            <option value="decreasingName">Prénom (décroissant)</option>
            <option value="increasingFamilyName">Nom (croissant)</option>
            <option value="decreasingFamilyName">Nom (décroissant)</option>
            <option value="increasingCompany">Entreprise (croissant)</option>
            <option value="decreasingCompany">Entreprise (décroissant)</option>
        </select>
    </div>
<div id="adminQuestionPanelCardPane">
    <div id="adminQuestionCardsContainer">
        <div 
            (click)="onQuestionCreation(createOrAddQuestionPopup)" 
            class="card adminQuestionCard" 
            title="Créer une question" 
            id="addQuestionCard" 
            aria-label="Créer un stagiaire">
          <em class="fas fa-plus"></em>
        </div>
        <div 
          class="card adminQuestionCard" 
          *ngFor="let question of questionList | searchtitlepipe:searchtitle.value.toString() | filterbypipe:filterby | sortbypipe:sortby.value" 
          >
            <div class="card-header" id="adminQuestionCardTitle" >
                <h5>{{question.enonce}}</h5>
            </div>

            <div class="card-body">
                <div *ngFor="let answer of question.responses | keyvalue">
                    <label for="answer-id-{{answer.key}}">{{answer.key}}</label>
                    <input disabled [checked]="answer.value==1" type="checkbox" id="answer-id-{{answer.key}}">
                </div>
            </div>
    
            <div id="adminQuestionCardFooter" class="card-footer">
              <button 
                class="adminQuestionCardButton" 
                id="adminQuestionModif" 
                aria-label="Modifier"
                (click)="onQuestionModification(question, createOrAddQuestionPopup)"
                >
                <em class="fas fa-edit"></em>
                Modifier 
                
              </button>
              <button 
                class="adminQuestionCardButton" 
                aria-label="Supprimer"
                id="adminQuestionDelete" 
                (click)="openPopupDeleteQuestion(question, deleteQuestionPopup)"
                >
                <em class="fas fa-trash-alt"></em>
                Supprimer
              </button>
            </div>
          </div>
    </div>
</div>
</section>
<!-- CREATE or UPDATE question POPUP -->
<ng-template #createOrAddQuestionPopup>
  <header mat-dialog-title id="adminInternDelInternsHeader" >
    <div id="adminInternDelInternLogo"><em class="fas fa-question"></em><h5>QCMPlus</h5></div>
    <h6 *ngIf="isQuestionNew==true" id="adminInternDelInternTitle">Créer une question</h6>
    <h6 *ngIf="isQuestionNew==false" id="adminInternDelInternTitle">Modifier une question</h6>
  </header>
  <mat-dialog-content class="div-manage-question-form" >
    <form 
      [formGroup]="manageQuestionsForm" 
      class="manage-question-form" 
      (ngSubmit)="onSubmitQuestionForm()">

      

      <label class="label-enonce" for="enonce">
        <span class="span-manage-question-form-field">
          <em class="form-field-icon fa-solid fa-file-lines"></em>
          <span class="span-field-label">Enoncé</span>
        </span>
        <input 
          formControlName="enonce" 
          type="text" 
          name="enonce" 
          id="enonce" 
          aria-label="Saisissez un énoncé" 
          placeholder="Saisissez un énoncé" 
          title="Saisissez un énoncé">
      </label>
      <ng-container formArrayName="responses">
        <ng-container *ngFor="let response of responses.controls">
          <span class="span-field-label">Réponses</span>
          <div class="form-array-container">
            <div 
              class="responses-controls-container" 
              *ngFor="let response of responses.controls; let i=index">
                <label  for="response-{{i}}">
                  <input 
                    class="input-response-text"
                    [formControlName]="i" 
                    type="text" 
                    name="response-{{i}}" 
                    id="response-{{i}}" 
                    aria-label="Saisissez une réponse possible" 
                    title="Saisissez une réponse possible" 
                    placeholder="Saisissez une réponse possible">
                </label>
                <label  for="response-value-{{i}}">
                  <input 
                    [formControlName]="i" 
                    type="number"
                    min="0"
                    max="1" 
                    name="response-value{{i}}" 
                    id="response-value-{{i}}" 
                    aria-label="Saisissez 1 ou 0" 
                    title="Saisissez 1 ou 0" >
                </label>
            </div>
            
          </div>
        </ng-container>
      </ng-container>
      <button type="button" (click)="addResponse()">Add</button>
      
      
      
      
      <mat-dialog-actions>
        <button aria-label="Valider" title="Valider" class="btn btn-primary" type="submit">Valider</button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</ng-template>
<!-- DELETE question POPUP -->
<ng-template #deleteQuestionPopup>
    <header mat-dialog-title id="adminInternDelInternsHeader" >
      
      <div id="adminInternDelInternLogo"><em class="fas fa-question"></em><h5>QCMPlus</h5></div>
      <h6 id="adminInternDelInternTitle">
        Supprimer la question ? 
      </h6>
    </header>
    <div mat-dialog-content id="adminInternDelInternContent">
      <em class="fas fa-exclamation-triangle"></em>
      <span>Voulez-vous supprimer la question : <strong>{{selectedCard.enonce}}</strong> ?</span> 
    </div>
    <mat-dialog-actions id="adminInternDelInternFooter" >
      <button 
        id="adminInternDelReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="adminInternDelYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>