<section class="section-intern-page">
    <h1>
        {{title}}
    </h1>
    <h2>
        {{subtitle}}{{name}} !
    </h2>
    
    <div class="seeqcm-choice-container">
            <div
                id="label-intern-workspace" 
                class="alert alert-danger">
                {{workSpace}}
            </div>
            <p id="internWorkspaceDescriptionText">
                    {{descriptionText}}
            </p>
            <a href="/intern#internQcmPanelTitle">
                <button 
                    value="intern"
                    id="internSeeQcmsButton" 
                    type="button" 
                    class="btn btn-primary"
                    
                >
                {{seeQcmsText}}
                <i id="arrowBottomQcm" class="fas fa-arrow-right"></i>        
                </button>
            </a>
    </div>
</section>