<section
    id="doqcmQuestionsContainer"
    class="card"    
>
<header
    id="docqcmQuestionContainerHeader"    
    class="card-header"
>
    <h5>{{qcmData.name}}</h5>
</header>


<div class="card-header" id="doqcmQuestionNameBox">
    <div *ngIf="!isQcmFinished" id="doqcmQuestionMarkAndNameBox">
        <span id="doqcmQuestionQuestionMark">?</span>
        <span id="doqcmQuestionName">
            {{questionList[currentQuestion-1].enonce}}
        </span>
    </div>

    <p *ngIf="!isQcmFinished" id="doqcmQuestionNumber" class="text-muted">
        Question {{currentQuestion}} / {{numberOfQuestions}}
    </p>

    <div *ngIf="isQcmFinished" id="doQcmResultsTitleBox">
        <span id="doqcmResultsTitle">
            Résultats
        </span>
    </div>

</div>

<mat-progress-bar 
    *ngIf="!isQcmFinished" 
    mode="determinate" 
    value="{{100*(progressBarAdvancement)/numberOfQuestions}}"
    >
</mat-progress-bar>


<div *ngIf="!isQcmFinished" class="card-body" id="doqcmQuestionBox">
    <ul class="list-group list-group-flush" *ngFor="let answer of questionList[currentQuestion-1].responses | keyvalue: shuffleArray">
        <li class=" list-group-item">
            <label for="{{answer.key}}">
                <input class="questionBoxInput" #answer id="{{answer.key}}" name="{{answer.key}}" type="checkbox">
                <span id="questionBoxAnswerText">{{answer.key}}</span>
                <span id="questionBoxInputCircle"></span>
            </label>
        </li>
    </ul>
</div>


<div *ngIf="isQcmFinished" class="card-body" id="doqcmResultsBox">
    <table class="table table-hover">
        <caption>Résultats pour ce QCM.</caption>
        <thead>
            <tr>
                <th scope="col">Intitulé</th>
                <th scope="col">Quantité</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Durée</th>
                <td>{{resultsObject.duration | internqcmdurationpipe}}</td>
            </tr>
            <tr>
                <th scope="row">Bonnes réponses</th>
                <td>{{resultsObject.right}}</td>
            </tr>
            <tr>
                <th scope="row">Mauvaises réponses</th>
                <td>{{resultsObject.wrong}}</td>
            </tr>
            <tr>
                <th scope="row">Réponses vides</th>
                <td>{{resultsObject.blank}}</td>
            </tr>
        </tbody>
    </table>
    <p id="doqcmMark">{{resultsObject.mark}}/20</p>
</div>


<div id="doqcmQuestionBoxFooter" class="card-footer">
    <button *ngIf="!isQcmFinished" (click)="validateQuestion(currentQuestion, warnBlankPopup)" class="btn btn-primary">
        Valider
    </button>
    <button *ngIf="isQcmFinished" routerLink="/intern" class="btn btn-primary">
        Retour
    </button>
</div>
</section>
<!--POPUP WARN BLANK ANSWER-->
<ng-template #warnBlankPopup>
    <header mat-dialog-title id="warnBlankPopupHeader" >
      
        <div id="warnBlankPopupLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
        <h6 id="warnBlankPopupTitle">
            Passer à la question suivante ? 
        </h6>
    </header>
    <div mat-dialog-content id="warnBlankPopupContent" class="flex-column">
        <i class="fas fa-exclamation-triangle"></i><br>
        <p>
          Une réponse vide ne rapporte pas de points. Vous ne pourrez pas revenir en arrière. Continuer ? 
        </p> 
    </div>
    <mat-dialog-actions id="warnBlankPopupFooter" >
      <button 
        id="warnBlankPopupReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="warnBlankPopupYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        (click)="onClickNextQuestion()"
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>

  <!--POPUP WARN QUIT ANSWER-->
<ng-template #quitQcmPopup>
    <header mat-dialog-title id="warnBlankPopupHeader" >
      
        <div id="warnBlankPopupLogo"><i class="fas fa-question"></i><h5>QCMPlus</h5></div>
        <h6 id="warnBlankPopupTitle">
            Quitter ? 
        </h6>
    </header>
    <div mat-dialog-content id="warnBlankPopupContent" class="flex-column">
        <i class="fas fa-exclamation-triangle"></i><br>
        <p>
          Vos réponses ne seront pas sauvegardées. Continuer ? 
        </p> 
    </div>
    <mat-dialog-actions id="warnBlankPopupFooter" >
      <button 
        id="warnBlankPopupReturnButton" 
        aria-label="fermer" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="warnBlankPopupYesButton" 
        aria-label="fermer" 
        mat-button [mat-dialog-close]
        (click)="onClickQuitQcm()"
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>