/* ===================
GLOBAL STYLES
=====================*/

// COLORS

$window-color: #F2F2F2 ;
$reddish-background-color: #C0504D; 

// CONTENT

.content {
    border: solid blue;
}

#hero {
    width: fit-content;
    height: fit-content;
}

