/* ===================
GLOBAL STYLES
=====================*/

// COLORS
//------------

$window-color: #2F80ED ;
$reddish-background-color: #FFFFFF; 


// CONTENT
//------------

.content {
    padding-top: 8vh;
}

.body-auth-page {
    height: 70vh;
    min-height: 70vh;
}

#hero {
    width: fit-content;
    height: fit-content;
}

