/* ===================
GLOBAL STYLES
=====================*/

// COLORS
//------------

$window-color: #2F80ED ;
$background-color: #FFFFFF; 
$white-letter-color: #FFFFFF;
$general-purpose-grey: #f7f7f7;
$general-purpose-black: #292b2c;
$validation-green: #5cb85c ;
$todo-red: #b87474;
$danger-color: #f8d7da;
$success-color: #d4edda;

// SIZES
// -----------------

$min-height-pages: 80vh;

// CONTENT
//------------

.content {
    padding-top: 9vh;
    padding-bottom: 8vh;
}

.body-auth-page, .body-home-page, .body-intern-page, .section-create-qcmpage {
    min-height: $min-height-pages;
}

#hero, #herointern {
    width: fit-content;
    height: fit-content;
}

