<nav id="quickcm-navbar" class="navbar navbar-expand-sm navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="onGoHome()">{{titleNav}}</a>
        <!--
        <button class="btn btn-outline-light" type="button" routerLink="/">{{navBackHomeText}}</button>
        -->
        <div class="btn-group dropstart" *ngIf="getSessionInfo().isConnected===true">
            <button 
                class="a-initials-dropdown-btn" 
                id="navbarDropdown" 
                role="button" 
                title="Menu"
                aria-label="Menu"
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false">
                {{getInitials()}}
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" (click)="navigateToWorkspace()">Retour espace {{getSessionInfo().userData.type}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="openDecoPopup(decoPopup, decoPopupWhenInQcm)">Se déconnecter</a>
            </div>
        </div>
        
    </div>
</nav>

<!-- POPUP DECONNEXION -->
<ng-template #decoPopup>
    <header mat-dialog-title id="decoPopupQcmsHeader" >
      <div id="decoPopupQcmLogo"><em class="fas fa-question"></em><h5>QCMPlus</h5></div>
      <h6 id="decoPopupTitle">
        Voulez-vous vous déconnecter ? 
      </h6>
    </header>
    <div mat-dialog-content id="decoPopupContent">
      <em class="fas fa-exclamation-triangle"></em>
      <span>Voulez-vous vraiment vous déconnecter ?</span> 
    </div>
    <mat-dialog-actions id="decoPopupFooter" >
      <button 
        id="decoPopupReturnButton" 
        aria-label="Retour" 
        mat-button 
        [mat-dialog-close]>
        Retour
      </button>
      <button 
        id="decoPopupYesButton" 
        aria-label="Oui" 
        mat-button [mat-dialog-close]
        (click)="logout()"
        >
        Oui
      </button>
    </mat-dialog-actions>
  </ng-template>


  <!-- POPUP DECONNEXION QCM -->
<ng-template #decoPopupWhenInQcm>
  <header mat-dialog-title id="decoPopupQcmsHeader" >
    <div id="decoPopupQcmLogo"><em class="fas fa-question"></em><h5>QCMPlus</h5></div>
    <h6 id="decoPopupTitle">
      Action impossible 
    </h6>
  </header>
  <div mat-dialog-content id="decoPopupContent">
    <em class="fas fa-exclamation-triangle"></em>
    <span>Vous ne pouvez pas vous déconnecter quand vous effectuez un questionnaire.</span> 
  </div>
</ng-template>